<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>wildlife-tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/app.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hair salon </h1>
          <div class="link-bar">
            <div><p><a href="/">Home</a></p></div>
            <div><p><a href="/Client">Clients</a></p></div>
            <div><p><a href="/sighting/new">Update client</p></a></div>
            <div><p><a href="/animals">Stylist</a></p></div>
            <div><p><a href="/animals/new">Update stylist</a></p></div>
            <div><p><a href="/animals/new">Add client</a></p></div>
            <div><p><a href="/animals/new">Add stylist</a></p></div>
          </div>
          #end
      </div>
      #parse( $template )

    </div>
  </body>
</html>
