<h1>$stylist.getName() clients:</h1>

<ul>
  #foreach($client in $stylist.getstylist())
    <li><a href="/stylists/$stylist.getId()/clients/$client.getId()">$client.getName()</a></li>
  #end
</ul>

<a href="/stylists/$stylist.getId()/clients/new">Add new client</a>
<a href="/stylists">All stylist</a>
